body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    /* Semi-transparent white background */
    border-radius: 20px;
    backdrop-filter: blur(10px);
    /* Apply blur effect */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* Soft shadow effect */
    overflow: hidden;
}

.content {
    padding: 20px;
}

h1 {
    margin-top: 0;
}

h2 {
    color: #007bff;
}

p {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    padding-left: 20px;
    position: relative;
    margin-bottom: 10px;
}

ul li::before {
    content: '\2022';
    position: absolute;
    left: 0;
    color: #007bff;
}

.contact a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.contact a:hover {
    color: #0056b3;
}

.buttons {
    margin-top: 30px;
    text-align: center;
}

.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.glass {
    background: rgba(255, 255, 255, 0.6);
    /* Semi-transparent white background */
    backdrop-filter: blur(10px);
    /* Apply blur effect */
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    /* Soft shadow effect */
}

/* Build Logs Section */
.build-logs {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
}

.build-logs h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.build-logs p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.build-logs .version {
    font-weight: bold;
}

.build-logs .version::before {
    content: "Version ";
}

.build-logs .version-1-0-0 {
    color: #007bff;
}

.build-logs .version-1-5-0 {
    color: #28a745;
}
.build-logs .version-1-5-0 {
    color: #a72bdc;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .content {
        padding: 10px;
    }

    .buttons {
        margin-top: 20px;
    }
}